body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

#specTable th, #specTable td {
  border: 1px solid #0077cc;
}

#oilexchangeTable th, #oilexchangeTable td {
  border: 1px dashed #009900;
}


/* 全ての表に罫線を適用 */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,td {
  border: 1px solid #444;
  padding: 8px;
  text-align: left;
}

/* 表の見出しに背景色をつけて視認性アップ */
th {
  background-color: #f0f0f0;
}

header {
  background: #17c760d3;
  color: white;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
}

button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* ギャラリー */
.gallery img {
  width: 500px;
  height: 500px;
  margin: 10px;
  cursor: pointer;
}

/* 画像拡大（ライトボックス） */
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 80%;
  max-height: 80%;
}

#close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
